<ol>
  <% @comments.each do |comment| %>
    <li>
      <%# binding.pry %>
      <%= link_to "#{comment.body}", user_comment_path(comment.user.id, comment.id), :class => "comment" %>
    </li>
  <% end %>
</ol>
