<%= javascript_include_tag "/comments", "data-turbolinks-track" => true %>

<ol>
  <% @comments.each do |comment| %>
    <li>
      <%= link_to "#{comment.body}", user_comment_path(comment.user.id, comment.id), :class => "load_comment" %>
    </li>
  <% end %>
</ol>
