<ol>
  <% @comments.each do |comment| %>
    <li>
      <%= link_to "#{comment.body}", user_comment_path(comment.user.id, comment.id), :class => "load_comment" %>
    </li>
  <% end %>
</ol>

<!-- from the video @25:36 -->
<script id="comment_template" type="text/x-handlebars-template">
  <li class="comment" id="comment_{{id}}">
    <div class="view">
      <form class="edit_comment" id="edit_comment_{{id}}" action="/users/<%= @user.id %>/comments/<%= @comment.id %>" method="post" accept_charset="UTF-8">
        <input type="text" name="UTF-8" value="✓">
        <input type="hidden" name="_method" value="patch">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="comment[status]" value="0"><input class="toggle" type="checkbox" name="comment[status]" value="1" id="comment_status">
      </form>

      <label>{{body}}</label>

      <form class="button_to" action="/.html" method="post">

      </form>
    </div>
  </li>
</script>
