<h4>Submit feedback to the Devs:</h4>
<br>

<%= form_for([@user, @comment]) do |f| %>
  <%= f.text_area :body %>
  <p class="new_comment"><%= f.submit %></p>
<% end %>

<%# <%= form_with(model: @user_comment) do |f| %>
  <%#= f.text_area :body %>
  <!-- <p class="comment_submit"><%#= f.submit %> -->
<%# end %>
