<h4><strong>Comments Index</strong></h4>

<div class="comments">

</div>

<span>
  <%= link_to 'Load Comments', user_comments_path(@user), :class => "load_comments", :remote => true %>
  <%= link_to 'Hide Comments', user_comments_path(@user), :class => "hide_comments" %>
</span>

<%= render 'comments/new' %>
